.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(30px);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
    border: 1.5px solid rgba(255, 255, 255, 0.18);
    width: 100%;
    padding: 0 20px;
    position: fixed;
    
    
}

.nav_menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
}

.nav_connect {
    padding: 10px 20px;
    border-radius: 50px;
    background: linear-gradient(80deg, #f8bd33, #ff6a00 0.12%, #ee0979);
    cursor: pointer;
    margin-right: 40px;
    font-size: 20px;
    color: #fff;
    transition: 0.5s;
}

.nav_connect:hover {
    transform: scale(1.10);
}
